@charset "UTF-8";
body {
  font-family: "Arial"、"Hiragino Sans"、"Hiragino Kaku Gothic ProN"、"Meiryo"、"sans-serif";
}
.mainvisual {
  margin-bottom: 40px;
  position: relative;
}
.mainvisual img {
  width: 100%;
  height: 950px;
  object-fit: cover;
}
.logo {
  position: absolute;
  right: 20px;
  top: 20px;
}
.container {
  max-width: 1200px;
  /* width: 1000px; */
  padding: 0 5%;
  margin: 0 auto 60px;
  text-align: center;
}
.hedding {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.container p {
  font-size: 14px;
  margin-bottom: 20px;
}
.archivenews {
  display: flex;
  justify-content: space-between;
}
.archive, .news {
  width: 49%;
}
.archivenews img {
  max-width: 100%;
  height: 100%;
}
.artivetext,.newstext {
  display: inline-block;
  background-color: rgba(55, 53, 53, 0.59);
  color: white;
  padding: 10px 15px;
  position: relative;
  bottom: 250px;
}
.artivetext p,.newstext p {
  margin-bottom: 0px;
}
.fashion {
  background-image: url(../img/no-person.jpg);
  height: 500px;
  width: 100%;
  object-fit: cover;
  padding-top: 80px;
  margin-bottom: 50px;
  text-align: center;
}
.read {
  display: block;
  width: 180px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 15px 30px;
}
.catalog {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.catalogtext {
  margin-left: 40px;
}
.catalogtext p{
  margin-bottom: 40px;
  text-align: left;
}
.catalog img,.antique img {
  width: 475px;
  height: 475px;
}
.antique {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.antiquetext {
  margin-right: 40px;
}
.antiquetext p {
  margin-bottom: 40px;
  text-align: left;
}
.wrraper {
  background-color: black;
  color: white;

}
.guid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  padding: 100px 5%;
}
.guid img {
  width: 100px;
  height: 30px;
}
.heddingguid {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}
.title ul li {
  font-size: 12px;
  line-height: 1.5;
}
.title ul li:before {
  content: "-";
  margin-right: 5px;
}
.titletitle {
  width: 330px;
  text-align: left;
  font-size: 12px;
  line-height: 1.5;
}
footer p {
  text-align: center;
}
/* レスポンシブ */
@media screen and (max-width:896px) {
   body {
    box-sizing: border-box;
  }
  .container {
    padding: 0 5%;
    margin: 0 auto 20px;
    width: 100vw;
  }
  .archivenews {
    display: block;
  }
  .archive, .news {
    width: 100%;
    height: 320px;
    margin-bottom: 40px;
  }
  .artivetext,.newstext {
    padding: 30px 100px;
    bottom: 220px;
  }
  .fashion {
    width: 100vw;
  }
  .fashion p {
    margin-bottom: 20px;
    padding: 0 20px;
  }
  .catalog {
    display: block;
    width: 100%;
  }
  .antique {
    flex-direction: column-reverse;
    width: 100%;
  }
  .antiquetext,.catalogtext {
    margin: 0;
  }
  .catalog img,.antique img {
    width: 100%;
  }
  .catalog img {
    margin-bottom: 40px;
  }
  .read {
    margin-bottom: 40px;
  }
  .guid {
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 20px 5% 50px;
  }
  .guid img {
    margin-bottom: 40px;
    width: 150px;
    height: 50px;
  }
  .guid a {
    margin: 0 auto;
  }
  .title {
    margin-bottom: 40px;
  }
  .title ul li {
    font-size: 16px;
    line-height: 2.0;
  }
  .titletitle {
    width: 100%;
    text-align: left;
    font-size: 16px;
    line-height: 2.0;
  }
  footer {
    padding: 30px 0;
  }

}
